
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }
        .container {
            padding: 20px;
            margin: 100px auto;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome hiring managers</h1>
        <p>Welcome to the Developer Aptitude Suite, a cutting-edge platform revolutionizing 
            the way employers discover and assess top-tier talent through interactive quizzes! 
            In the fast-paced landscape of talent acquisition, identifying the right candidates
             for your team is paramount. Developer Aptitude Suite empowers employers to refine 
             their hiring process with a dynamic and engaging approach to evaluating potential 
             employees.</p>
        {{message}}

        <br>
        <button><a routerLink="/landing"> Dash Board landing page</a></button>
        
    </div>
</body>
</html>
