<div class="quiz-details">
    <form (submit)="updateUser()">
        <table>
            <tr>
                <td>User ID: {{ userId }}</td>
            </tr>
            <tr>
                <td><label class="user-label" for="userName">User Name:</label></td>
                <td><input class="user-field" type="text" id="userName" name="userName" [(ngModel)]="userName" required></td>
        </tr>  
        <tr>
            <td><label class="user-label" for="userEmail">User Email:</label></td>
            <td><input class="user-field" type="text" id="userEmail" name="userEmail" [(ngModel)]="userEmail" required></td>
        </tr>
        <tr>
            <td><label class="user-label" for="userPassword">User Password:</label></td>
            <td><input class="user-field" type="text" id="userPassword" name="userPassword" [(ngModel)]="userPassword" required></td>
        </tr>
        <tr><td class="button"><button type="submit">Update user info</button></td></tr>
    </table>
    </form>
</div>