<button class="create-quiz-btn" [routerLink]="['/add-quiz']" mat-button>Create Quiz</button>

<table class="quiz-table">
  <thead>
    <tr>
      <th class="quiz-name-header">Quiz Name</th>
      <th class="time-header">Time</th>
      <th class="questions-header"># of Questions</th>
      <th class="create-date-header">Create Date</th>
      <th class="crud-header">Modify Quiz</th>
      <th class="quiz-id-header">Quiz-id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" class="quiz-row">
      <td class="quiz-name">{{ item.quizName }}</td>
      <td class="time">{{ item.time }}</td>
      <td class="questions">{{ item.questions }}</td>
      <td class="create-date">{{ item.createDate }}</td>
      <td class="crud-icon">
        <button>Edit</button>
        <button>View</button>
        <button (click)="deleteQuiz(item.quizId)">Delete</button>

      </td>
      <td class="create-date">{{ item.quizId }}</td>
    </tr>
  </tbody>
</table>
